h1
{
    max-width: fit-content;
}

h2
{
    max-width: fit-content;
}

a
{
    max-width: fit-content;
}

.Centered
{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.RedBox
{
    background-color: rgb(52, 11, 0);
    border-radius: 2rem;
    /* padding-bottom: 0.1rem; */
    /* padding-top: 0.1rem; */
    padding: 1rem;
    color: white;
    max-height: max-content;
}

.C\+\+,.Rust,.SAT,.Python {
    color: rgb(237, 143, 93);
}

pre {
    margin-left: 1cm;
}

body {
    background-color: black;
    color: white;
    margin: 1cm;
    font-size: large;
}

code {
    color: rgb(236, 45, 230);
}

del {
    color: red;
}

a {
    color: rgb(162, 83, 27);
}

@font-face {
    font-family: 'jsMath-cmsy10';
    src: url('font/jsMath-cmsy10.ttf.woff') format('woff'),
        url('font/jsMath-cmsy10.ttf.svg#jsMath-cmsy10') format('svg'),
        url('font/jsMath-cmsy10.ttf.eot'),
        url('font/jsMath-cmsy10.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

.mathcal{
    font-family: jsMath-cmsy10;
}