h1
{
    max-width: fit-content;
}

h2
{
    max-width: fit-content;
}

a
{
    max-width: fit-content;
}

.Centered
{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.RedBox
{
    background-color: rgb(52, 11, 0);
    border-radius: 2rem;
    /* padding-bottom: 0.1rem; */
    /* padding-top: 0.1rem; */
    padding: 1rem;
    color: white;
    max-height: max-content;
}

.C\+\+ {
    color: rgb(212, 104, 47);
}

pre {
    margin-left: 1cm;
}

body {
    background-color: black;
    color: white;
    margin: 1cm;
    font-size: large;
}

code {
    color: rgb(236, 45, 230);
}

del {
    color: red;
}

a {
    color: rgb(162, 83, 27);
}